altair
annotated-types
asttokens
attrs
blinker
blis
cachetools
catalogue
certifi
charset-normalizer
click
cloudpathlib
colorama
comm
confection
contourpy
cycler
cymem
debugpy
decorator
executing
fonttools
gitdb
GitPython
idna
imbalanced-learn
imblearn
ipykernel
ipython
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
langcodes
lxml
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
murmurhash
nest-asyncio
nltk
numpy
packaging
pandas
parso
pillow
platformdirs
preshed
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pydantic
pydantic_core
pydeck
Pygments
pyparsing
python-dateutil
pytz
pywin32
pyzmq
referencing
regex
requests
rich
rpds-py
scikit-learn
scipy
seaborn
setuptools
six
smart-open
smmap
spacy
spacy-legacy
spacy-loggers
srsly
stack-data
streamlit
tenacity
textblob
thinc
threadpoolctl
toml
toolz
tornado
tqdm
traitlets
typer
typing_extensions
tzdata
urllib3
wasabi
watchdog
wcwidth
weasel
wordcloud
